#section-selector {
    position: relative;
    top: 2px;
}

#section-selector__ingredients-btn {
    border-radius: 20px 0 0 0;
    border-width: 2px 2px 0 2px;
}

#section-selector__steps-btn {
    border-radius: 0 20px 0 0;
    border-width: 2px 2px 0 0;
}

#section-selector .selector-btn {
    padding: 4px 10px;
    border-color: var(--border-secondary-color);
    border-style: solid;
    background-color: var(--dark-button-color);
    color: var(--dark-text-color);
    cursor: pointer;
}

#section-selector .selector-btn.selected {
    background-color: var(--main-bg-color);
}